

body{
    background-color: aqua;
}

img{
    
    width: 30%;
}
p{
    
    font-size: 20px;
}

#userBox{
    
    width: 300px;
}

@media screen and (min-device-width: 100px) and (max-device-width: 900px)    {
    img{
        width: 80%;
        margin: 0;
        margin-left: 0px;

    }
    p{
        margin-left: 0px;
        margin: 0;
        font-size: 40px;
    }
    #userBox{
        margin: 0;
        margin-left: 0px;
        width: 700px;
        padding: 2%;
    }

    #userBox::placeholder{
        font-size: 40px;
    }

}